<div ng-form="form" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Label</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="block.content.label" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">File</label>
        <div class="col-sm-10">
            <a ng-show="block.content.cloudinary" href="{{ block.content.cloudinary.secure_url }}" target="_blank">{{ block.content.cloudinary.secure_url }}</a>
            <a class="btn btn-default btn-sm" ng-show="! inProgress" ngf-accept="'image/*'" ngf-select ngf-change="upload($files, $rejectedFiles, 'Please select an image.')">
                <span ng-hide="block.content.cloudinary">Upload file</span>
                <span ng-show="block.content.cloudinary">Upload a different file</span>
            </a>
            <div class="progress" ng-show="inProgress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
                    Uploading ...
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="" class="btn btn-primary btn-sm" ng-click="save()" ng-show="block.content.cloudinary" ng-disabled="form.$invalid"><i class="glyphicon glyphicon-ok"></i> &nbsp;Done</a>
            <a href="" class="btn btn-link btn-sm" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> &nbsp;Cancel</a>
        </div>
    </div>
</div>
