<div ng-form="form" class="form-horizontal">
    <textarea ng-model="block.content.html" required></textarea>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="" class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="form.$invalid"><i class="glyphicon glyphicon-ok"></i> &nbsp;Done</a>
            <a href="" class="btn btn-link btn-sm" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> &nbsp;Cancel</a>
        </div>
    </div>
</div>
