.be-editor {
    .be-block {
        display: block; // of course
        border-bottom: 1px #ccc solid;
        padding: 10px 0;

        &:last-child {
            border-bottom: 0;
        }

        .be-block-toggles {
            .be-block-toggle-disabled {
                opacity: .5;
            }
        }

    }

    .be-toolbar {
        padding-top: 20px;
    }

    .be-preview .be-block {
        border-bottom: 0;
    }
}
