<div class="row block-editor-block-edit" ng-show="block.editing">
    <div class="col-sm-12">
        <div ng-include="config.editTemplate"></div>
    </div>
</div>
<div class="row block-editor-block-preview" ng-hide="block.editing">
    <div class="col-sm-10">
        <div ng-include="config.previewTemplate"></div>
    </div>
    <div class="col-sm-2 block-editor-block-toggles" ng-show="editEnabled != 'false'">
        <a href="" ng-click="moveUp()" ng-class="{'block-editor-block-toggle-disabled': ! block.canMoveUp}"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a href="" ng-click="moveDown()" ng-class="{'block-editor-block-toggle-disabled': ! block.canMoveDown}"><i class="glyphicon glyphicon-arrow-down"></i></a>
        <a href="" ng-click="edit()"><i class="glyphicon glyphicon-pencil"></i></a>
        <a href="" class="text-danger" ng-click="remove()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
