<div class="row be-block-edit" ng-show="block.editing">
    <div class="col-sm-12">
        <div ng-include="config.editTemplate"></div>
    </div>
</div>
<div class="row be-block-preview" ng-hide="block.editing">
    <div class="col-sm-1" ng-show="$editor.dragAndDropEnabled">
        <i class="glyphicon glyphicon-menu-hamburger" sv-handle></i>
    </div>
    <div class="col-sm-9">
        <div ng-include="config.previewTemplate"></div>
    </div>
    <div class="be-block-toggles" ng-class="{'col-sm-3': ! $editor.dragAndDropEnabled, 'col-sm-2': $editor.dragAndDropEnabled}" role="group" ng-show="editEnabled != 'false'">
        <div class="btn-group">
            <a class="btn btn-default btn-xs" ng-if="! $editor.dragAndDropEnabled" href="" ng-click="moveUp()" ng-class="{'be-block-toggle-disabled': ! block.canMoveUp}"><i class="glyphicon glyphicon-arrow-up"></i></a>
            <a class="btn btn-default btn-xs" ng-if="! $editor.dragAndDropEnabled" href="" ng-click="moveDown()" ng-class="{'be-block-toggle-disabled': ! block.canMoveDown}"><i class="glyphicon glyphicon-arrow-down"></i></a>
            <a class="btn btn-default btn-xs" href="" ng-click="edit()"><i class="glyphicon glyphicon-pencil"></i></a>
            <a class="btn btn-danger btn-xs text-danger" href="" ng-click="remove()"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
</div>
