<div sv-root sv-part="blocks">
    <be-block block="block" ng-repeat="block in blocks" edit="{{ ! ngDisabled }}" sv-element></be-block>
    <div class="be-toolbar">
        <div ng-hide="addingNewBlock">
            <a href="" class="btn btn-default" ng-click="startAddingNewBlock()" ng-hide="ngDisabled">Add a new block</a>
        </div>
        <div ng-show="addingNewBlock">
            <a ng-repeat="blockType in ::blockTypes" href="" class="btn btn-default btn-sm" role="button" ng-click="addNew(blockType.type)"><i ng-class="::blockType.icon" ng-show="::blockType.icon"></i> &nbsp;{{ ::blockType.displayName }}</a>
            <a href="" ng-click="cancelAddingNewBlock()">Cancel</a>
        </div>
    </div>

</div>
